<template name="layout">
  <div class="container-fluid" id="home">
     {{> header}}
     <div id="main" class="row vertical-center">
       {{#if currentUser}}  
         {{> yield}}
       {{else}}
       <form class="center-block text-center">
          <div class="form-group">
            <h1>Learn or Teach anything</h1>
              <input type="text" name="search" placeholder="What topic are you interested in?" class="home-search input-lg" />
              <button type="submit" class="btn btn-lg btn-primary">Submit</button>
          </div>
        </form>
       {{/if}}
     </div>
     {{> footer}}
  </div>
</template>
