<template name="layout">
  <div id="home">
     {{> header}}
     <div class="container-fluid">
       <div id="main" class="row vertical-center">
         {{#if currentUser}}  
           {{> yield}}
         {{else}}
         <div class="text-center col-sm-8 center-block">
            <h1>Learn or Teach anything</h1>

            <form class="input-group">
                <input id="search" type="textbox" placeholder="Search for a topic" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" id="searchButton">Go!</button>
                </span>
            </form>
          </div>
         {{/if}}
       </div>
     </div>
     {{> footer}}
  </div>
</template>
