<template name="postItem">
<template name="postEdit">
  <form class="main form">
    <div class="form-group">
      <label class="control-label" for="url">Link</label>
      <div class="controls">
        <input name="url" id="url" type="text" value="{{url}}" placeholder="Where can I buy it?" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Item</label>
      <div class="controls">
        <input name="title" id="title" type="text" value="{{title}}" placeholder="What is it?" class="form-control"/>
      </div>
    </div>
    <input type="submit" value="Save Changes" class="btn btn-primary submit"/>
    <hr/>
    <a class="btn btn-danger delete" href="#">Delete item</a>
  </form>
</template>
