<template name="footer">
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad reiciendis neque quidem nostrum eaque deserunt doloremque quo! A, soluta omnis necessitatibus sit at earum, maiores excepturi. Excepturi recusandae cum, quis.</p>
      </div>
      <div class="col-sm-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea officia, impedit ducimus animi debitis, voluptates officiis tempora in. Repellat, odit, quis! Porro voluptatibus, nisi animi perferendis inventore odit possimus est?</p>
      </div>
      <div class="col-sm-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus sequi atque omnis laudantium eum incidunt, molestias reprehenderit laborum quia vel, tenetur placeat saepe odit, optio dolorem ratione at? Accusantium, commodi?</p>
      </div>
    </div>
  </div>
</footer>
</template>

